.job-card-container {
  background-color: #272727;
  margin: 25px;
  padding: 20px;
  border-radius: 20px;
}
.job-card-logo-container {
  display: flex;
  align-items: center;
}
.job-card-logo {
  width: 100px;
  height: 100px;
  padding: 10px;
}
.job-card-title {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}
.job-card-rating {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
}
.job-card-l-p-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.job-card-location-type {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 10px;
}
.job-card-location-container {
  display: flex;
  align-items: center;
}
.job-card-package {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: bold;
}
.job-card-description-heading {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: bold;
}
.job-card-description {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
}
