.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  padding: 30px;
}
.headers-heading-container {
  display: flex;
  align-items: center;
}
.link {
  list-style-type: none;
  color: #f8fafc;
  font-family: 'Roboto';
  margin: 10px;
  font-size: 20px;
}
.logout-button {
  background-color: #6366f1;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 15px;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}
